<div class="container mt-2">
    <h2>บันทึกซื้อสินค้าเข้าคงคลัง</h2>
    <hr>
    <div class="row">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-success" (click)="save()">บันทึก</button>
            <button type="button" class="btn btn-secondary" (click)="clear()">ยกเลิก</button>
            <button type="button" class="btn btn-primary" disabled>พิมพ์</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary" disabled>ออกบิลใหม่</button>
            <button type="button" class="btn btn-success" disabled>ค้นหาบิลเก่า</button>
            <button type="button" class="btn btn-secondary" disabled>ค้นหาระบุเลขที่</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-6">
            <div class="form-group">
                <label>เลขที่ใบส่งของ</label>
                <input class="form-control" type="text" [(ngModel)]="billInfo.billNo">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>วันที่บิล</label>
                <input class="form-control" type="date" [(ngModel)]="billInfo.billDate">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>ซื้อจาก(รหัสเจ้าหนี้)</label>
                <div class="input-group">
                    <input class="form-control" type="text" [(ngModel)]="billInfo.creditorNo">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" (click)="showSearchCreditor()">เจ้าหนี้เก่า</button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success" (click)="newCreditor()" disabled>เจ้าหนี้ใหม่</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>เลขที่ใบกำกับภาษี</label> (
                <div class="form-check form-check-inline disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> ใช้เลขเดียวกับ "เลขที่ใบส่งของ"
                    </label>
                </div> )
                <input class="form-control" type="text" [(ngModel)]="billInfo.taxNo">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>ชื่อ</label>
                <input class="form-control" type="text" [(ngModel)]="billInfo.creditorName">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>ที่อยู่</label>
                <input class="form-control" type="text" [(ngModel)]="billInfo.creditorAddress">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>เบอร์โทร</label>
                <input class="form-control" type="text" [(ngModel)]="billInfo.creditorTel">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>เงื่อนไขการชำระเงิน</label>
                <div class="form-inline">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="billInfo.paymentType" value="CREDIT"> เครดิต 
                        </label>
                    </div>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 ml-2" [(ngModel)]="billInfo.creditDay"> วัน
                    <label class="ml-2">ครบกำหนดชำระ {{ today | date:'dd/MM/yyyy' }}</label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="billInfo.paymentType" value="CASH" checked> สด
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12">
            <button type="button" class="btn btn-success" (click)="showAddProduct()">เพิ่มข้อมูล</button>
            <button type="button" class="btn btn-danger" disabled>ยกเลิก</button>
            <button type="button" class="btn btn-primary" disabled>นำเข้าข้อมูล</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th style="width: 50px;">ลำดับ</th>
                        <th style="width: 200px;">รหัส</th>
                        <th>รายการ</th>
                        <th style="width: 80px;">หน่วย</th>
                        <th style="width: 80px;">จำนวน</th>
                        <th style="width: 120px;">ราคา/หน่วย</th>
                        <th style="width: 100px;">จำนวนเงิน</th>
                        <th style="width: 50px;">S/N</th>
                        <th style="width: 50px;">CN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of billInfo.productLists; let i = index;">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ item.productInfo.no }}</td>
                        <td>{{ item.productInfo.group.name }} {{ item.productInfo.name }}</td>
                        <td>{{ item.productInfo.unit }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.price | number:'3.2' }}</td>
                        <td>{{ item.amount * item.price | number:'3.2' }}</td>
                        <td>
                            <button class="btn btn-link btn-sm font-weight-bold" (click)="showSearchSN(item)">S/N</button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">รวมทั้งสิ้น {{ billInfo.productLists.length }} (รายการ)</td>
                        <td>-</td>
                        <td>จำนวนเงิน</td>
                        <td>0.00</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="form-inline">
                                <label class="mr-2">หมายเหตุ</label>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td colspan="2"></td>
                        <td>ยอดชำระ</td>
                        <td>0.00</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="form-inline float-sm-right">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="vatType" [(ngModel)]="billInfo.vatType" value="INCLUSIVE" checked> Inclusive
                                </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="vatType" [(ngModel)]="billInfo.vatType" value="EXCLUSIVE"> Exclusive
                                </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="vatType" [(ngModel)]="billInfo.vatType" value="NONE"> None
                                </label>
                                </div>
                            </div>
                        </td>
                        <td>ภาษี 7 %</td>
                        <td>0.00</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2"></td>
                        <td>ค่าสินค้า</td>
                        <td>0.00</td>
                        <td colspan="2"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Modal: Search Creditor -->
<app-modal-search-creditor></app-modal-search-creditor>
<!-- Modal: Add Product -->
<app-modal-add-product></app-modal-add-product>
<!-- Modal: Search SerialNumber -->
<app-modal-search-sn [productList]="productListSelect"></app-modal-search-sn>