<div class="container mt-2 mb-2">
    <div class="form-group row">
        <div class="offset-6 col-6 text-right">
            <button type="button" class="btn btn-primary" disabled>มุมมอง</button>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>รหัส</label>
                <button type="button" class="btn btn-success" disabled>ค้นหา</button>
                <button type="button" class="btn btn-success" disabled>เพิ่ม</button>
            </div>
        </div>
        <div class="col-6"></div>
        <div class="col-6">
            <div class="form-group">
                <label>รุ่น / รายการ</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="productInfo.name">
                    <span class="input-group-addon">{{ productInfo.group.name }}{{ productInfo.name }}</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>หน่วย</label>
                <input type="text" class="form-control" [(ngModel)]="productInfo.unit">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>กลุ่มสินค้า</label>
                <button type="button" class="btn btn-success" (click)="productGroupModal.show()">ค้นหา</button>
                <label class="font-weight-bold">{{ productInfo.group.name }}</label>
            </div>
            <!-- Modal: Product Group -->
            <div class="modal fade" bsModal #productGroupModal="bs-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">มุมมองรายการเลือก</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="productGroupModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 100px;">ลำดับ</th>
                                        <th>รายการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of productGroupLists; let i = index;" (dblclick)="setProductGroup(item);productGroupModal.hide();">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.code }} {{ item.name }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>ประเภทสินค้า</label>
                <button type="button" class="btn btn-success" (click)="productTypeModal.show()">ค้นหา</button>
                <label class="font-weight-bold">{{ productInfo.type.name }}</label>
            </div>
            <!-- Modal: Product Group -->
            <div class="modal fade" bsModal #productTypeModal="bs-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">มุมมองรายการเลือก</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="productTypeModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 100px;">ลำดับ</th>
                                        <th>รายการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of productTypeLists; let i = index;" (dblclick)="setProductType(item);productTypeModal.hide();">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.code }} {{ item.name }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>แจ้งเตือนคงเหลือน้อยสุด</label>
                <input type="number" class="form-control" [(ngModel)]="productInfo.min">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>รายละเอียดเพิ่มเติม</label>
                <input type="text" class="form-control" [(ngModel)]="productInfo.detail">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>ราคาขาย</label>
                <button type="button" class="btn btn-success" (click)="priceModal.show()">แก้ไข</button>
            </div>
            <!-- Price Modal -->
            <div class="modal fade" bsModal #priceModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">ปรับปรุงแก้ไขข้อมูล ราคาสินค้า</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="priceModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 100px;">รหัสสินค้า</th>
                                        <th>ชื่อรายการ</th>
                                        <th style="width: 135px;">ขายส่งตัวแทน</th>
                                        <th style="width: 135px;">ขายเงินสด</th>
                                        <th style="width: 135px;">ขายผ่อนชำระ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Add</th>
                                        <td>
                                            <label>{{ productInfo.group.name }}{{ productInfo.name }}</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="productInfo.priceAgent">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="productInfo.priceCash">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="productInfo.priceInstallment">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="priceModal.hide()">บันทึก</button>
                            <button type="button" class="btn btn-secondary" (click)="priceModal.hide()">ปิดหน้าต่าง</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <button type="submit" class="btn btn-primary" (click)="save()">บันทึก</button>
                <button type="reset" class="btn" (click)="clear()">ยกเลิก</button>
            </div>
        </div>
    </div>

    <div>
        <!--<div class="form-group">
            <label>บาร์โค๊ดสินค้า</label>
            <div class="input-group">
                <input class="form-control" type="text">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success">แก้ไข</button>
                </span>
            </div>
        </div>-->
        <!--<div class="form-group">
            <label>คอมมิสชั่น (บาท/หน่วย)</label>
            <input type="text" class="form-control">
        </div>-->
    </div>
</div>