<div class="container mt-2 mb-2">
    <h2>ประวัติเจ้าหนี้</h2>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>คำนำหน้า</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="creditorInfo.title">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" disabled>ค้นหา</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>ชื่อ</label>
                <input class="form-control" type="text" [(ngModel)]="creditorInfo.name">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>นามสกุล / คำลงท้าย</label>
                <input class="form-control" type="text" [(ngModel)]="creditorInfo.lastName">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>ชื่อเล่น / อักษรย่อ</label>
                <input class="form-control" type="text" [(ngModel)]="creditorInfo.surName">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>ที่อยู่</label>
                <input class="form-control" type="text" [(ngModel)]="creditorInfo.address">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6"></div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>ตำบล</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="creditorInfo.tumbol">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" disabled>ค้นหา</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>อำเภอ</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="creditorInfo.amphoe">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" disabled>ค้นหา</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>จังหวัด</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="creditorInfo.changwat">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" disabled>ค้นหา</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>รหัสไปรษณีย์</label>
                <input class="form-control" type="text" [(ngModel)]="creditorInfo.postCode">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>เบอร์โทร</label>
                <input class="form-control" type="text" [(ngModel)]="creditorInfo.tel">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>เบอร์แฟ็ก</label>
                <input class="form-control" type="text" [(ngModel)]="creditorInfo.fax">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Web Site</label>
                <input class="form-control" type="text" [(ngModel)]="creditorInfo.site">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>E-Mail</label>
                <input class="form-control" type="email" [(ngModel)]="creditorInfo.email">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label>ติดต่อ</label>
                <input class="form-control" type="text" [(ngModel)]="creditorInfo.contact">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label>บันทึก</label>
                <input class="form-control" type="text" [(ngModel)]="creditorInfo.note">
            </div>
        </div>
        <div class="col-12">
            <label>การขนส่ง</label>
            <div class="form-inline">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="transport" [(ngModel)]="creditorInfo.transport" value="NONE"> รับเอง
                    </label>
                </div>

                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="transport" [(ngModel)]="creditorInfo.transport" value="DELIVER"> นำส่ง
                    </label>
                </div>

                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="transport" [(ngModel)]="creditorInfo.transport" value="EMS"> ส่งพัสดุ
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12">
            <label>การชำระเงิน</label>
            <div class="form-inline">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="creditorInfo.paymentType" value="CASH"> เงินสด
                    </label>
                </div>

                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="creditorInfo.paymentType" value="CREDIT"> เครดิต
                    </label>
                </div>
                <input type="text" class="form-control ml-2 mr-sm-2" [(ngModel)]="creditorInfo.creditDay">

                <label class="ml-2">วัน</label>
            </div>
        </div>
        <div class="col-12">
            <label>ระบบภาษี</label>
            <div class="form-inline">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="vatType" [(ngModel)]="creditorInfo.vatType" value="INCLUSIVE"> Inclusive
                    </label>
                </div>

                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="vatType" [(ngModel)]="creditorInfo.vatType" value="EXCLUSIVE"> Exclusive
                    </label>
                </div>

                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="vatType" [(ngModel)]="creditorInfo.vatType" value="NONE"> None
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-success" (click)="save()">บันทึก</button>
            <button type="button" class="btn btn-secondary" (click)="clear()">ยกเลิก</button>
        </div>
    </div>
</div>