<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">มุมมองรายการเลือก</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>รายการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of colors; let i = index;" (dblclick)="onSelect(item)">
                            <th>{{ i + 1 }}</th>
                            <td>{{ item.no }} {{ item.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>