<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">ค้นหาเจ้าหนี้</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <fieldset disabled>
                    <div class="form-inline mb-2">
                        <label class="mr-sm-2">เงื่อนไข</label>

                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="creditor" [(ngModel)]="condition.creditor" value="NAME" checked> ชื่อ
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="creditor" [(ngModel)]="condition.creditor" value="ADDRESS"> ที่อยู่
                        </label>
                        </div>

                        <label class="ml-2 mr-2">ชื่อหรือที่อยู่</label>
                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="condition.keyword">

                        <button type="button" class="btn btn-primary mr-2" (click)="search()">ค้นหา</button>

                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="branch" [(ngModel)]="condition.branch" value="CURRENT" checked> สาขาปัจจุบัน
                        </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="branch" [(ngModel)]="condition.branch" value="ALL"> ทุกสาขา
                        </label>
                        </div>
                    </div>
                </fieldset>

                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th style="width: 50px;">ลำดับ</th>
                            <th style="width: 150px;">รหัส</th>
                            <th>รายการ</th>
                            <th>ที่อยู่</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of creditorInfos; let i = index;" (dblclick)="onSelect(item)">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ item.no }}</td>
                            <td>{{ item.title }}{{ item.name }} {{ item.lastName }}</td>
                            <td>{{ item.address }} {{ item.tumbol }} {{ item.amphoe }} {{ item.changwat }} {{ item.postCode }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5">รวมทั้งสิ้น {{creditorInfos.length}} รายการ</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>