<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">ปรับปรุงหมายเลข S/N</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>รายการสินค้า : {{ productList?.productInfo?.group.name }} {{ productList?.productInfo?.name }} | {{ productList?.productInfo?.unit }}</p>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>หมายเลขเครื่อง</th>
                            <th>หมายเลขตัวถัง</th>
                            <th style="width: 100px;" class="text-center">
                                <button type="button" class="btn btn-warning" (click)="showSearchColor()">สี</button>
                            </th>
                            <th>เลขทะเบียน</th>
                            <th>เลขกุญแจ</th>
                            <th>
                                <button type="button" class="btn btn-warning" (click)="showSearchWarehouse()">สถานที่จัดเก็บ</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ productList.serialNumber?.length + 1 }}</th>
                            <td>
                                <input class="form-control" type="text" [(ngModel)]="serialNumber.engineNumber">
                            </td>
                            <td>
                                <input class="form-control" type="text" [(ngModel)]="serialNumber.bodyNumber">
                            </td>
                            <td>{{ serialNumber.color?.name }}</td>
                            <td>
                                <input class="form-control" type="text" [(ngModel)]="serialNumber.regNumber">
                            </td>
                            <td>
                                <input class="form-control" type="text" [(ngModel)]="serialNumber.keyNumber">
                            </td>
                            <td>{{ serialNumber.warehouse?.name }}</td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-center">
                                <button type="button" class="btn btn-success" (click)="add()">เพิ่ม/แก้ไข</button>
                                <button type="button" class="btn btn-danger" disabled>ลบ</button>
                                <button type="button" class="btn btn-danger" disabled>ลบทั้งหมด</button>
                            </td>
                        </tr>
                        <tr *ngFor="let item of productList.serialNumber; let i = index;">
                            <th>{{ i + 1 }}</th>
                            <td>
                                {{ item.engineNumber }}
                            </td>
                            <td>
                                {{ item.bodyNumber }}
                            </td>
                            <td>{{ item.color?.name }}</td>
                            <td>
                                {{ item.regNumber }}
                            </td>
                            <td>
                                {{ item.keyNumber }}
                            </td>
                            <td>{{ item.warehouse?.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="clear();">ยกเลิก</button>
                <button type="button" class="btn btn-primary" (click)="save()">ตกลง</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Search Color -->
<app-modal-search-color></app-modal-search-color>
<!-- Modal: Search WareHouse-->
<app-modal-search-warehouse></app-modal-search-warehouse>