<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">ค้นหารายการสินค้า</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">กลุ่ม/ประเภท-สินค้า</div>
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">ลำดับ</th>
                                        <th>รายการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of productGroupLists; let i = index;" (click)="onSelectGroup(item)" [ngClass]="{ 'table-active': item.code === selectedItem.code }">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.code }} {{ item.name }}</td>
                                    </tr>
                                    <tr *ngIf="productGroupLists.length === 0">
                                        <td colspan="4">ไม่พบรายการ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">รายการสินค้า</div>
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">ลำดับ</th>
                                        <th>รายการ</th>
                                        <th style="width: 50px;">หน่วย</th>
                                        <th style="width: 50px;">S/N</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of productInfoLists; let i = index;" (dblclick)="onSelectProduct(item)">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.no }} {{ item.name }}</td>
                                        <td>{{ item.unit }}</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr *ngIf="productInfoLists.length === 0">
                                        <td colspan="4">ไม่พบรายการ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>