<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">ปรับปรุงแก้ไขข้อมูล รายการสินค้า</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="width: 120px;">รหัสสินค้า</th>
                            <th>รายการ</th>
                            <th style="width: 80px;">หน่วย</th>
                            <th style="width: 80px;">จำนวน</th>
                            <th style="width: 100px;">@ราคา</th>
                            <th style="width: 120px;">รวมเงิน</th>
                            <th style="width: 50px;">S/N</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">
                                <button type="button" class="btn btn-success" (click)="showSearchProduct()">ค้นหา</button>
                            </td>
                            <td class="align-middle">
                                <input class="form-control" type="text" [(ngModel)]="productList.name">
                            </td>
                            <td class="align-middle text-center">{{ productList.productInfo?.unit }}</td>
                            <td class="align-middle">
                                <input class="form-control" type="text" [(ngModel)]="productList.amount">
                            </td>
                            <td class="align-middle">
                                <input class="form-control" type="text" [(ngModel)]="productList.price">
                            </td>
                            <td class="align-middle text-right">
                                {{ total | number:'3.2' }}
                            </td>
                            <td class="align-middle">
                                <button *ngIf="productList.productInfo" type="button" class="btn btn-success" (click)="showSearchSN()">S/N</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="clear()">ยกเลิก</button>
                <button type="button" class="btn btn-primary" (click)="save()">ตกลง</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Search Product -->
<app-modal-search-product></app-modal-search-product>
<!-- Modal: Search SerialNumber -->
<app-modal-search-sn [productList]="productList"></app-modal-search-sn>