<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand">ProvApp</a>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="navigate('/')">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" role="button" dropdownToggle>Inventory</a>
                <div class="dropdown-menu" role="menu" *dropdownMenu>
                    <a class="dropdown-item" (click)="navigate('/inventory/M1')">M1 บันทึกซื้อสินค้าเข้าคงคลัง</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="navigate('/inventory/R1')">R1 บันทึกซื้อสินค้าเข้าคงคลัง</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="navigate('/inventory/S1')">S1 รายการสินค้า</a>
                    <a class="dropdown-item" (click)="navigate('/inventory/S2')">S2 ประวัติเจ้าหนี้</a>
                </div>
            </li>
        </ul>
    </div>
</nav>